/* reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: #FFFFFF;
  color: #333;
  line-height: 1.6;
  max-width: 1400px;
  margin:auto;
}
ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.footer a{
  color: white;
  text-decoration: none;
}

h2 {
 font-family: 'Cormorant Garamond', serif;
 font-size: 3rem;
 font-weight: 500;
}
h4 {
 font-family: 'Cormorant Garamond', serif;
 font-size: 3rem;
 font-weight: 500;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 500;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 500;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}
.btn{
  font-size: 16px;
}


/* navbar */
#navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:left;
  background-color: #FFFFFF;
  width: 100%;                            
  top: 0px;
  height:100px;
  padding: 0px 0px;
}
#navbar a {
  color: #333;
  font-size:24px;
  padding: 10px 20px;
  margin: 0 0 0 10px;
}
#navbar ul {
  display: flex; 
}
#navbar a:hover {
  border-bottom: #28a745 2px solid;
}

/* header-content */
.header-container {
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 auto;
}
.header-content {
  position:relative;
  top:0px;
  height:fit-content;
  justify-content: center;
}
.header-content img {
  width:100%;
  margin-bottom:-120px;
}

.object-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position:relative;
  top:0px;
  margin-bottom: auto;
}
.text-box {
  padding: 20px 30px;
  flex:20 1 auto;
  max-width:100%;
  min-width:300px;
  width:60%;
  color: #FFFFFF;
}
.empty-box {
  padding: 20px 30px;
  flex:1 1 auto;
  max-width:100%;
  min-width:300px;
  height:110px;
}

/* section: blog and posts */

.txtbox{
  padding:20px 30px;
  text-align: left;
  line-height: 1.6;
}

.outer-box{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items: flex-start;
}

.outer-box img{
  max-width: 100%;
  min-width: 200px;
  width:100%;
  margin-bottom: 0px;
}

.inner-box{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex: 50 1 33%;
}
.inner-box2{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex: 1 1 33%;
}

.small {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-width: 200px;
  width:33%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  flex: 1 1 auto;
}

.large {
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 300px;
  width:100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  flex: 2 1 auto;
}
.bg-yellow h3{
  color: #D64C31;
}



/* Footer */
.footer{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  width:100%;
  margin-top: 10%;
  position: relative;
  background-color: #D64C31;
  flex:none;

}
.footer h5{
  color:#FFFFFF;
  font-size: 20px;
}
.footer-content{
  bottom: 0;
  padding: 30px; 
  width:60%;
  max-width: 100%;
  min-width: 300px;
  height:300px;
  margin-bottom: 0;
  position: relative;
}

.footer .text-box{
  position: relative;
  height:400px;
  max-width: 30%;
  min-width: 300px;
  margin-top: -100px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.form #email{
  width: 100%;
  padding: 5px;
}
.btn-yellow{
  display: block;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #FFF0E7;
  border: none;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
}
.btn-yellow:hover{
  background-color: #D64C31 ;
  transition: 0.5s;
}
.text-box h5{
  margin-top: 20px;
  margin-bottom: 20px;
}
.social a {
  color: #FFFFFF;
  padding: 10px;
}
.social a :hover{
 color:#D64C31;
} 

.nav-btn ul{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.nav-btn a {
 padding-right: 20px;
 font-size: 18px;
}
.nav-btn a:hover{
  color: #333;
}

/* Tablets and smaller */
@media(max-width:800px) {
  .footer .text-box{
    position: relative;
    height:700px;
    max-width: 100%;
    min-width: 300px;
    margin-top: 0px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-content{
    bottom: 0;
    padding: 25px; 
    width:60%;
    max-width: 100%;
    min-width: 300px;
    height:400px;
    margin-bottom: 0;
    position: relative;
  }
}

/* smartphones*/
@media(max-width:500px){
 #navbar a {
   font-size: 16px;
   padding: 5px;
}
 #logo{
   width:70%;
 }
 .footer .text-box{
  position: relative;
  height:600px;
  max-width: 100%;
  min-width: 300px;
  margin-top: 0px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.footer-content{
  bottom: 0;
  padding: 25px; 
  width:60%;
  max-width: 100%;
  min-width: 300px;
  height:400px;
  margin-bottom: 0;
  position: relative;
}
}